# Draw Lines
snippet --= "Draws a thin line" bA
---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---$
endsnippet

snippet ==# "Draws a thin line" bA
===#===#===#===#===#===#===#===#===#===#===#===#===#===#===#===#===#===#===#===$
endsnippet
